In [46]:
import yfinance as yf
from datetime import date

In [47]:
stock=input("Enter stock name :")

Enter stock name :sbin

In [103]:
print("Valid days : 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max")
days=input("Enter last how many days ? : ")

Valid days : 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
Enter last how many days ? : ytd

In [107]:
valid_time_intervals=['1m', '2m', '5m', '15m', '30m', '60m', '90m', '1h', '1d', '5d', '1wk', '1mo', '3mo']
print(type(days))
print(days)
if(days != 'ytd' or days !='YTD' or days != 'max' or days != 'MAX'):
    d=""
    print(d)
    #d=days.split()
    numbers = []
    for word in days:
        if(word).isdigit():
            d=str(d)+str(word)
    print(d)

<class 'str'>
ytd

In [108]:
if(days != 'ytd' and days !='YTD' and days != 'max' and days != 'MAX'):
    if(int(d)>60):
        print("Valid intervals: [1h, 1d, 5d, 1wk, 1mo, 3mo]")
        tf=input("Enter time frame : ")
        if(tf not in ('1h', '1d', '5d', '1wk', '1mo', '3mo')):
            print("Invalid Time Frame")
            td=""
    
    if(int(d)>0 and int(d)<=60):
        print("Valid intervals: ['1m', '2m', '5m', '15m', '30m', '60m', '90m',1h, 1d, 5d, 1wk, 1mo, 3mo]")
        tf=input("Enter time frame : ")
        if(tf not in ('1m', '2m', '5m', '15m', '30m', '60m', '90m','1h', '1d', '5d', '1wk', '1mo', '3mo')):
            print("Invalid Time Frame")
            tf=""
if(days != 'ytd' or days !='YTD' or days != 'max' or days != 'MAX'):
    print("Valid intervals: [1wk, 1mo, 3mo]")
    tf=input("Enter time frame : ")
    if(tf not in ('1wk', '1mo', '3mo')):
        print("Invalid Time Frame")
        tf=""

Valid intervals: [1wk, 1mo, 3mo]
Enter time frame : 1mo

In [109]:
df=yf.download(tickers=stock+".NS",period=days,interval=tf)
df.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-01-01,274.899994,310.899994,269.500000,282.100006,279.519348,7.779477e+08
2021-02-01,285.100006,427.700012,282.750000,390.149994,386.580872,1.532348e+09
2021-03-01,395.100006,408.899994,345.200012,364.299988,360.967346,8.493387e+08
2021-04-01,367.700012,371.899994,321.299988,353.500000,350.266174,9.290666e+08
2021-05-01,349.600006,433.649994,341.399994,424.350006,420.468018,1.295321e+09