In [1]:
## Spinning Top Of One Stock On Particular Date

In [3]:
from datetime import date
import datetime
from nsepy.history import get_price_list
import yfinance as yf
import pandas as pd

from SingleCandlesticks import Doji as dj

## Spinning Top Of One Stock On Particular Date

In [4]:
stock=input("Enter stock name : ")

Enter stock name : sbin

In [5]:
print("Enter date : ")
y=input("Enter Year :")
m=input("Enter Month :")
d=input("Enter Date :")

Enter date :
Enter Year :2021
Enter Month :12
Enter Date :8

In [6]:
sdate=date(int(y),int(m),int(d))
edate=sdate+datetime.timedelta(1)
print(sdate)
print(edate)

2021-12-08
2021-12-09

In [12]:
if(sdate>date.today()):
    diff=sdate-date.today()
    #print("sdate > ")
    diff=int(str(diff).split()[0])

if(date.today()>sdate):
    diff=date.today()-sdate
    #print("sdate <")
    diff=int(str(diff).split()[0])

if(date.today()==sdate):
    diff=int(0)
    #print("=")

    
print(str(diff).split()[0])

tstr=""
ds=""
if(int(diff)>730):
    print("Valid intervals: [1d, 5d, 1wk, 1mo, 3mo]")
    tf=input("Enter time frame : ")

    ## To covert the string into lower ( ex. 1m = M)
    tstr="" #timeframestring
    ds=""   # date string
    for word in tf:
        if(word).isalpha():
            tstr=str(tstr)+str(word)
        if(word).isdigit():
            ds=str(ds)+str(word)
    tf=ds+(tstr).lower()
    print(tf) 

    if(tf not in ('1d', '5d', '1wk', '1mo', '3mo')):
        print("Invalid Time Frame")
        td=""


if(int(diff)>60 and int(diff)<=730):
    print("Valid intervals: [1h, 1d, 5d, 1wk, 1mo, 3mo]")
    tf=input("Enter time frame : ")
    ## To covert the string into lower ( ex. 1m = M)
    tstr="" #timeframestring
    dstr="" # date string
    for word in tf:
        if(word).isalpha():
            tstr=str(tstr)+str(word)
        if(word).isdigit():
            ds=str(ds)+str(word)
    tf=ds+(tstr).lower()
    print(tf) 
    if(tf not in ('1h', '1d', '5d', '1wk', '1mo', '3mo')):
        print("Invalid Time Frame")
        td=""

if(int(diff)>7 and int(diff)<=60):
    print("Valid intervals: ['2m', '5m', '15m', '30m', '60m', '90m',1h, 1d, 5d, 1wk, 1mo, 3mo]")
    tf=input("Enter time frame : ")
   ## To covert the string into lower ( ex. 1m = M)
    tstr="" #timeframestring
    ds="" # date string
    for word in tf:
        if(word).isalpha():
            tstr=str(tstr)+str(word)
        if(word).isdigit():
            ds=str(ds)+str(word)
    tf=ds+(tstr).lower()
    print(tf) 
    if(tf not in ('2m', '5m', '15m', '30m', '60m', '90m','1h', '1d', '5d', '1wk', '1mo', '3mo')):
        print("Invalid Time Frame")
        tf=""

if(int(diff)>0 and int(diff)<=7):
    print("Valid intervals: ['1m',2m', '5m', '15m', '30m', '60m', '90m',1h, 1d, 5d, 1wk, 1mo, 3mo]")
    tf=input("Enter time frame : ")
   ## To covert the string into lower ( ex. 1m = M)
    tstr="" #timeframestring
    ds=""  # date sring
    for word in tf:
        if(word).isalpha():
            tstr=str(tstr)+str(word)
        if(word).isdigit():
            ds=str(ds)+str(word)
    tf=ds+(tstr).lower()
    print(tf)   
    if(tf not in ('1m','2m', '5m', '15m', '30m', '60m', '90m','1h', '1d', '5d', '1wk', '1mo', '3mo')):
        print("Invalid Time Frame")
        tf=""

26
Valid intervals: ['2m', '5m', '15m', '30m', '60m', '90m',1h, 1d, 5d, 1wk, 1mo, 3mo]
Enter time frame : 1mo
1mo

In [13]:
try:
    df=yf.download(tickers=stock+'.NS',start=sdate,end=edate,interval=tf)
    if(len(df)==0):
        print("Invalid Date ( Or Holiday )")
except:
    print("Invalid Date ( Or Holiday )")

[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SBIN.NS: No data found for this date range, symbol may be delisted
Invalid Date ( Or Holiday )

In [14]:
df.head()

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [15]:
dj.getdoji(df)

BLUE DOJI
{}
-------------------------------------------
RED DOJI
{}

## Spinning Top Of One Stock In Range (From - To)

In [16]:
stock=input("Enter stock name : ")

Enter stock name : sbin

In [17]:
print("Enter start date : ")
y=input("Enter Year :")
m=input("Enter Month :")
d=input("Enter Date :")
sdate=date(int(y),int(m),int(d))
print(str(type(sdate))+" "+str(sdate))

Enter start date :
Enter Year :2020
Enter Month :12
Enter Date :1
<class 'datetime.date'> 2020-12-01

In [18]:
print("Enter end date : ")
y=input("Enter Year :")
m=input("Enter Month :")
d=input("Enter Date :")
edate=date(int(y),int(m),int(d))
print(str(type(edate))+" "+str(edate))

Enter end date :
Enter Year :2021
Enter Month :6
Enter Date :1
<class 'datetime.date'> 2021-06-01

In [19]:
diff=0;
if(date.today()>sdate):
    diff=date.today()-sdate
elif(sdate>date.today()):
    diff=sdate-date.today()
elif(sdate==date.today()):
    diff=0
print(diff)
diff=int(str(diff).split()[0])
print(diff)

398 days, 0:00:00
398

In [20]:
    tstr=""
    ds=""
    if(int(diff)>=730):
        print("Valid intervals: [1d, 5d, 1wk, 1mo, 3mo]")
        tf=input("Enter time frame : ")
                
        ## To covert the string into lower ( ex. 1m = M)
        tstr="" #timeframestring
        ds=""   # date string
        for word in tf:
            if(word).isalpha():
                tstr=str(tstr)+str(word)
            if(word).isdigit():
                ds=str(ds)+str(word)
        tf=ds+(tstr).lower()
        print(tf) 
        
        if(tf not in ('1d', '5d', '1wk', '1mo', '3mo')):
            print("Invalid Time Frame")
            td=""
    
    
    if(int(diff)>60 and int(diff)<730):
        print("Valid intervals: [1h, 1d, 5d, 1wk, 1mo, 3mo]")
        tf=input("Enter time frame : ")
        ## To covert the string into lower ( ex. 1m = M)
        tstr="" #timeframestring
        dstr="" # date string
        for word in tf:
            if(word).isalpha():
                tstr=str(tstr)+str(word)
            if(word).isdigit():
                ds=str(ds)+str(word)
        tf=ds+(tstr).lower()
        print(tf) 
        if(tf not in ('1h', '1d', '5d', '1wk', '1mo', '3mo')):
            print("Invalid Time Frame")
            td=""
    
    if(int(diff)>7 and int(diff)<=60):
        print("Valid intervals: ['2m', '5m', '15m', '30m', '60m', '90m',1h, 1d, 5d, 1wk, 1mo, 3mo]")
        tf=input("Enter time frame : ")
       ## To covert the string into lower ( ex. 1m = M)
        tstr="" #timeframestring
        ds="" # date string
        for word in tf:
            if(word).isalpha():
                tstr=str(tstr)+str(word)
            if(word).isdigit():
                ds=str(ds)+str(word)
        tf=ds+(tstr).lower()
        print(tf) 
        if(tf not in ('2m', '5m', '15m', '30m', '60m', '90m','1h', '1d', '5d', '1wk', '1mo', '3mo')):
            print("Invalid Time Frame")
            tf=""
            
    if(int(diff)>0 and int(diff)<=7):
        print("Valid intervals: ['1m',2m', '5m', '15m', '30m', '60m', '90m',1h, 1d, 5d, 1wk, 1mo, 3mo]")
        tf=input("Enter time frame : ")
       ## To covert the string into lower ( ex. 1m = M)
        tstr="" #timeframestring
        ds=""  # date sring
        for word in tf:
            if(word).isalpha():
                tstr=str(tstr)+str(word)
            if(word).isdigit():
                ds=str(ds)+str(word)
        tf=ds+(tstr).lower()
        print(tf)   
        if(tf not in ('1m','2m', '5m', '15m', '30m', '60m', '90m','1h', '1d', '5d', '1wk', '1mo', '3mo')):
            print("Invalid Time Frame")
            tf=""

Valid intervals: [1h, 1d, 5d, 1wk, 1mo, 3mo]
Enter time frame : 1d
1d

In [21]:
try:
    df=yf.download(tickers=stock+'.NS',start=sdate,end=edate,interval=tf)
    if(len(df)==0):
        print("Invalid Date ( Or Holiday )")
except:
    print("Invalid Date ( Or Holiday )")
    
df.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-12-01,245.000000,248.949997,244.250000,248.050003,245.780823,37003272
2020-12-02,248.350006,250.850006,244.100006,246.949997,244.690887,56723083
2020-12-03,249.300003,259.000000,248.000000,256.299988,253.955338,79266442
2020-12-04,257.000000,264.350006,253.550003,263.500000,261.089478,79252024
2020-12-07,263.799988,271.450012,263.000000,269.600006,267.133698,76053084

In [23]:
dj.getdoji(df)

BLUE DOJI
{Timestamp('2020-12-10 00:00:00'): 269.54998779296875, Timestamp('2020-12-14 00:00:00'): 274.20001220703125, Timestamp('2021-01-14 00:00:00'): 307.25, Timestamp('2021-01-19 00:00:00'): 298.6000061035156, Timestamp('2021-03-08 00:00:00'): 389.6000061035156, Timestamp('2021-03-30 00:00:00'): 360.79998779296875, Timestamp('2021-04-15 00:00:00'): 342.70001220703125, Timestamp('2021-04-30 00:00:00'): 353.5, Timestamp('2021-05-03 00:00:00'): 350.6000061035156, Timestamp('2021-05-07 00:00:00'): 358.25}
-------------------------------------------
RED DOJI
{Timestamp('2020-12-31 00:00:00'): 274.95001220703125, Timestamp('2021-01-04 00:00:00'): 281.04998779296875, Timestamp('2021-02-08 00:00:00'): 397.04998779296875, Timestamp('2021-03-01 00:00:00'): 394.95001220703125, Timestamp('2021-03-02 00:00:00'): 394.20001220703125, Timestamp('2021-05-05 00:00:00'): 355.3999938964844, Timestamp('2021-05-26 00:00:00'): 413.54998779296875}