In [1]:
## Spinning Top Of One Stock On Particular Date

In [2]:
from datetime import date
import datetime
from nsepy.history import get_price_list
import yfinance as yf
import pandas as pd

from SingleCandlesticks import SpinningTop as st

## Spinning Top Of One Stock On Particular Date

In [3]:
stock=input("Enter stock name : ")

Enter stock name : reliance

In [15]:
print("Enter date : ")
y=input("Enter Year :")
m=input("Enter Month :")
d=input("Enter Date :")

Enter date :
Enter Year :2021
Enter Month :6
Enter Date :8

In [16]:
sdate=date(int(y),int(m),int(d))
edate=sdate+datetime.timedelta(1)
print(sdate)
print(edate)

2021-06-08
2021-06-09

In [17]:
if(sdate>date.today()):
    diff=sdate-date.today()
    #print("sdate > ")
    diff=int(str(diff).split()[0])

if(date.today()>sdate):
    diff=date.today()-sdate
    #print("sdate <")
    diff=int(str(diff).split()[0])

if(date.today()==sdate):
    diff=int(0)
    #print("=")

    
print(str(diff).split()[0])

tstr=""
ds=""
if(int(diff)>730):
    print("Valid intervals: [1d, 5d, 1wk, 1mo, 3mo]")
    tf=input("Enter time frame : ")

    ## To covert the string into lower ( ex. 1m = M)
    tstr="" #timeframestring
    ds=""   # date string
    for word in tf:
        if(word).isalpha():
            tstr=str(tstr)+str(word)
        if(word).isdigit():
            ds=str(ds)+str(word)
    tf=ds+(tstr).lower()
    print(tf) 

    if(tf not in ('1d', '5d', '1wk', '1mo', '3mo')):
        print("Invalid Time Frame")
        td=""


if(int(diff)>60 and int(diff)<=730):
    print("Valid intervals: [1h, 1d, 5d, 1wk, 1mo, 3mo]")
    tf=input("Enter time frame : ")
    ## To covert the string into lower ( ex. 1m = M)
    tstr="" #timeframestring
    dstr="" # date string
    for word in tf:
        if(word).isalpha():
            tstr=str(tstr)+str(word)
        if(word).isdigit():
            ds=str(ds)+str(word)
    tf=ds+(tstr).lower()
    print(tf) 
    if(tf not in ('1h', '1d', '5d', '1wk', '1mo', '3mo')):
        print("Invalid Time Frame")
        td=""

if(int(diff)>7 and int(diff)<=60):
    print("Valid intervals: ['2m', '5m', '15m', '30m', '60m', '90m',1h, 1d, 5d, 1wk, 1mo, 3mo]")
    tf=input("Enter time frame : ")
   ## To covert the string into lower ( ex. 1m = M)
    tstr="" #timeframestring
    ds="" # date string
    for word in tf:
        if(word).isalpha():
            tstr=str(tstr)+str(word)
        if(word).isdigit():
            ds=str(ds)+str(word)
    tf=ds+(tstr).lower()
    print(tf) 
    if(tf not in ('2m', '5m', '15m', '30m', '60m', '90m','1h', '1d', '5d', '1wk', '1mo', '3mo')):
        print("Invalid Time Frame")
        tf=""

if(int(diff)>0 and int(diff)<=7):
    print("Valid intervals: ['1m',2m', '5m', '15m', '30m', '60m', '90m',1h, 1d, 5d, 1wk, 1mo, 3mo]")
    tf=input("Enter time frame : ")
   ## To covert the string into lower ( ex. 1m = M)
    tstr="" #timeframestring
    ds=""  # date sring
    for word in tf:
        if(word).isalpha():
            tstr=str(tstr)+str(word)
        if(word).isdigit():
            ds=str(ds)+str(word)
    tf=ds+(tstr).lower()
    print(tf)   
    if(tf not in ('1m','2m', '5m', '15m', '30m', '60m', '90m','1h', '1d', '5d', '1wk', '1mo', '3mo')):
        print("Invalid Time Frame")
        tf=""

208
Valid intervals: [1h, 1d, 5d, 1wk, 1mo, 3mo]
Enter time frame : 1h
1h

In [18]:
try:
    df=yf.download(tickers=stock+'.NS',start=sdate,end=edate,interval=tf)
    if(len(df)==0):
        print("Invalid Date ( Or Holiday )")
except:
    print("Invalid Date ( Or Holiday )")

[*********************100%***********************]  1 of 1 completed

In [19]:
df.head()

,Open,High,Low,Close,Adj Close,Volume
2021-06-08 09:15:00+05:30,2226.550049,2226.550049,2204.100098,2205.500000,2205.500000,0
2021-06-08 10:15:00+05:30,2205.500000,2215.000000,2199.500000,2206.300049,2206.300049,712012
2021-06-08 11:15:00+05:30,2206.250000,2222.000000,2206.199951,2209.449951,2209.449951,658878
2021-06-08 12:15:00+05:30,2209.199951,2217.399902,2207.399902,2215.000000,2215.000000,396549
2021-06-08 13:15:00+05:30,2215.000000,2220.000000,2212.250000,2217.600098,2217.600098,453247

In [20]:
st.getspinningtop(df)

BLUE SPINNING TOP
{}
-------------------------------------------
RED SPINNING TOP
{}

## Spinning Top Of One Stock In Range (From - To)

In [21]:
stock=input("Enter stock name : ")

Enter stock name : reliance

In [22]:
print("Enter start date : ")
y=input("Enter Year :")
m=input("Enter Month :")
d=input("Enter Date :")
sdate=date(int(y),int(m),int(d))
print(str(type(sdate))+" "+str(sdate))

Enter start date :
Enter Year :2020
Enter Month :1
Enter Date :1
<class 'datetime.date'> 2020-01-01

In [23]:
print("Enter end date : ")
y=input("Enter Year :")
m=input("Enter Month :")
d=input("Enter Date :")
edate=date(int(y),int(m),int(d))
print(str(type(edate))+" "+str(edate))

Enter end date :
Enter Year :2021
Enter Month :8
Enter Date :1
<class 'datetime.date'> 2021-08-01

In [24]:
diff=0;
if(date.today()>sdate):
    diff=date.today()-sdate
elif(sdate>date.today()):
    diff=sdate-date.today()
elif(sdate==date.today()):
    diff=0
print(diff)
diff=int(str(diff).split()[0])
print(diff)

732 days, 0:00:00
732

In [25]:
    tstr=""
    ds=""
    if(int(diff)>=730):
        print("Valid intervals: [1d, 5d, 1wk, 1mo, 3mo]")
        tf=input("Enter time frame : ")
                
        ## To covert the string into lower ( ex. 1m = M)
        tstr="" #timeframestring
        ds=""   # date string
        for word in tf:
            if(word).isalpha():
                tstr=str(tstr)+str(word)
            if(word).isdigit():
                ds=str(ds)+str(word)
        tf=ds+(tstr).lower()
        print(tf) 
        
        if(tf not in ('1d', '5d', '1wk', '1mo', '3mo')):
            print("Invalid Time Frame")
            td=""
    
    
    if(int(diff)>60 and int(diff)<730):
        print("Valid intervals: [1h, 1d, 5d, 1wk, 1mo, 3mo]")
        tf=input("Enter time frame : ")
        ## To covert the string into lower ( ex. 1m = M)
        tstr="" #timeframestring
        dstr="" # date string
        for word in tf:
            if(word).isalpha():
                tstr=str(tstr)+str(word)
            if(word).isdigit():
                ds=str(ds)+str(word)
        tf=ds+(tstr).lower()
        print(tf) 
        if(tf not in ('1h', '1d', '5d', '1wk', '1mo', '3mo')):
            print("Invalid Time Frame")
            td=""
    
    if(int(diff)>7 and int(diff)<=60):
        print("Valid intervals: ['2m', '5m', '15m', '30m', '60m', '90m',1h, 1d, 5d, 1wk, 1mo, 3mo]")
        tf=input("Enter time frame : ")
       ## To covert the string into lower ( ex. 1m = M)
        tstr="" #timeframestring
        ds="" # date string
        for word in tf:
            if(word).isalpha():
                tstr=str(tstr)+str(word)
            if(word).isdigit():
                ds=str(ds)+str(word)
        tf=ds+(tstr).lower()
        print(tf) 
        if(tf not in ('2m', '5m', '15m', '30m', '60m', '90m','1h', '1d', '5d', '1wk', '1mo', '3mo')):
            print("Invalid Time Frame")
            tf=""
            
    if(int(diff)>0 and int(diff)<=7):
        print("Valid intervals: ['1m',2m', '5m', '15m', '30m', '60m', '90m',1h, 1d, 5d, 1wk, 1mo, 3mo]")
        tf=input("Enter time frame : ")
       ## To covert the string into lower ( ex. 1m = M)
        tstr="" #timeframestring
        ds=""  # date sring
        for word in tf:
            if(word).isalpha():
                tstr=str(tstr)+str(word)
            if(word).isdigit():
                ds=str(ds)+str(word)
        tf=ds+(tstr).lower()
        print(tf)   
        if(tf not in ('1m','2m', '5m', '15m', '30m', '60m', '90m','1h', '1d', '5d', '1wk', '1mo', '3mo')):
            print("Invalid Time Frame")
            tf=""

Valid intervals: [1d, 5d, 1wk, 1mo, 3mo]
Enter time frame : 1d
1d

In [26]:
try:
    df=yf.download(tickers=stock+'.NS',start=sdate,end=edate,interval=tf)
    if(len(df)==0):
        print("Invalid Date ( Or Holiday )")
except:
    print("Invalid Date ( Or Holiday )")
    
df.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-01,1503.745972,1512.760498,1491.363403,1495.424927,1485.053467,6463060
2020-01-02,1497.802368,1526.480469,1497.802368,1520.883545,1510.335693,8173308
2020-01-03,1518.605103,1527.173950,1508.699097,1522.716187,1512.155518,9684434
2020-01-06,1505.727173,1513.552979,1483.933838,1487.400879,1477.085083,11315596
2020-01-07,1504.736572,1520.091064,1499.288208,1510.284058,1499.809570,7699489

In [27]:
st.getspinningtop(df)

BLUE SPINNING TOP
{Timestamp('2020-02-14 00:00:00'): 1473.6314697265625, Timestamp('2020-04-09 00:00:00'): 1208.49462890625, Timestamp('2020-05-20 00:00:00'): 1433.699951171875, Timestamp('2020-07-30 00:00:00'): 2108.85009765625, Timestamp('2021-03-30 00:00:00'): 2029.300048828125, Timestamp('2021-06-17 00:00:00'): 2215.64990234375}
-------------------------------------------
RED SPINNING TOP
{Timestamp('2020-05-04 00:00:00'): 1421.7235107421875, Timestamp('2020-07-27 00:00:00'): 2156.199951171875, Timestamp('2020-08-14 00:00:00'): 2113.800048828125, Timestamp('2020-09-01 00:00:00'): 2087.25, Timestamp('2020-09-14 00:00:00'): 2302.550048828125, Timestamp('2020-12-11 00:00:00'): 2005.800048828125, Timestamp('2021-02-12 00:00:00'): 2041.5999755859375}