In [1]:
from datetime import date
import datetime
from nsepy.history import get_price_list
import yfinance as yf
import pandas as pd

from SingleCandlesticks import BullishMarubozu as BM

## Bullish Marubozu of one stock on paricular date

In [2]:
stock=input("Enter stock name : ")

Enter stock name : sbin

In [33]:

print("Enter date : ")
y=input("Enter Year :")
m=input("Enter Month :")
d=input("Enter Date :")

Enter date :
Enter Year :2021
Enter Month :1
Enter Date :1

In [34]:
sdate=date(int(y),int(m),int(d))
edate=sdate+datetime.timedelta(1)
print(sdate)
print(edate)

2021-01-01
2021-01-02

In [12]:
if(sdate>date.today()):
    diff=sdate-date.today()
    #print("sdate > ")
    diff=int(str(diff).split()[0])

if(date.today()>sdate):
    diff=date.today()-sdate
    #print("sdate <")
    diff=int(str(diff).split()[0])

if(date.today()==sdate):
    diff=int(0)
    #print("=")

    
print(str(diff).split()[0])

tstr=""
ds=""
if(int(diff)>730):
    print("Valid intervals: [1d, 5d, 1wk, 1mo, 3mo]")
    tf=input("Enter time frame : ")

    ## To covert the string into lower ( ex. 1m = M)
    tstr="" #timeframestring
    ds=""   # date string
    for word in tf:
        if(word).isalpha():
            tstr=str(tstr)+str(word)
        if(word).isdigit():
            ds=str(ds)+str(word)
    tf=ds+(tstr).lower()
    print(tf) 

    if(tf not in ('1d', '5d', '1wk', '1mo', '3mo')):
        print("Invalid Time Frame")
        td=""


if(int(diff)>60 and int(diff)<=730):
    print("Valid intervals: [1h, 1d, 5d, 1wk, 1mo, 3mo]")
    tf=input("Enter time frame : ")
    ## To covert the string into lower ( ex. 1m = M)
    tstr="" #timeframestring
    dstr="" # date string
    for word in tf:
        if(word).isalpha():
            tstr=str(tstr)+str(word)
        if(word).isdigit():
            ds=str(ds)+str(word)
    tf=ds+(tstr).lower()
    print(tf) 
    if(tf not in ('1h', '1d', '5d', '1wk', '1mo', '3mo')):
        print("Invalid Time Frame")
        td=""

if(int(diff)>7 and int(diff)<=60):
    print("Valid intervals: ['2m', '5m', '15m', '30m', '60m', '90m',1h, 1d, 5d, 1wk, 1mo, 3mo]")
    tf=input("Enter time frame : ")
   ## To covert the string into lower ( ex. 1m = M)
    tstr="" #timeframestring
    ds="" # date string
    for word in tf:
        if(word).isalpha():
            tstr=str(tstr)+str(word)
        if(word).isdigit():
            ds=str(ds)+str(word)
    tf=ds+(tstr).lower()
    print(tf) 
    if(tf not in ('2m', '5m', '15m', '30m', '60m', '90m','1h', '1d', '5d', '1wk', '1mo', '3mo')):
        print("Invalid Time Frame")
        tf=""

if(int(diff)>0 and int(diff)<=7):
    print("Valid intervals: ['1m',2m', '5m', '15m', '30m', '60m', '90m',1h, 1d, 5d, 1wk, 1mo, 3mo]")
    tf=input("Enter time frame : ")
   ## To covert the string into lower ( ex. 1m = M)
    tstr="" #timeframestring
    ds=""  # date sring
    for word in tf:
        if(word).isalpha():
            tstr=str(tstr)+str(word)
        if(word).isdigit():
            ds=str(ds)+str(word)
    tf=ds+(tstr).lower()
    print(tf)   
    if(tf not in ('1m','2m', '5m', '15m', '30m', '60m', '90m','1h', '1d', '5d', '1wk', '1mo', '3mo')):
        print("Invalid Time Frame")
        tf=""

1095
Valid intervals: [1d, 5d, 1wk, 1mo, 3mo]
Enter time frame : 1d
1d

In [13]:
try:
    df=yf.download(tickers=stock+'.NS',start=sdate,end=edate,interval=tf)
    if(len(df)==0):
        print("Invalid Date ( Or Holiday )")
except:
    print("Invalid Date ( Or Holiday )")

[*********************100%***********************]  1 of 1 completed

In [14]:
df.head()

             Open        High         Low       Close   Adj Close    Volume
Date
2019-01-01  297.5  300.700012  293.850006  299.600006  296.859253  11837127

In [15]:
BM.getbullishmarobozu(df)

---------------Bullish Marubozu----------------
---------------Bearish Marubozu----------------

## Bullish Marubozu of one stock in range (from - to)

In [43]:
stock=input("Enter stock name : ")

Enter stock name : sbin

In [45]:
print("Enter start date : ")
y=input("Enter Year :")
m=input("Enter Month :")
d=input("Enter Date :")
sdate=date(int(y),int(m),int(d))
print(str(type(sdate))+" "+str(sdate))

Enter start date :
Enter Year :2021
Enter Month :1
Enter Date :1
<class 'datetime.date'> 2021-01-01

In [46]:
print("Enter end date : ")
y=input("Enter Year :")
m=input("Enter Month :")
d=input("Enter Date :")
edate=date(int(y),int(m),int(d))
print(str(type(edate))+" "+str(edate))

Enter end date :
Enter Year :2021
Enter Month :12
Enter Date :31
<class 'datetime.date'> 2021-12-31

In [47]:
diff=0;
if(date.today()>sdate):
    diff=date.today()-sdate
elif(sdate>date.today()):
    diff=sdate-date.today()
elif(sdate==date.today()):
    diff=0
print(diff)
diff=int(str(diff).split()[0])
print(diff)

364 days, 0:00:00
364

In [48]:
    tstr=""
    ds=""
    if(int(diff)>=730):
        print("Valid intervals: [1d, 5d, 1wk, 1mo, 3mo]")
        tf=input("Enter time frame : ")
                
        ## To covert the string into lower ( ex. 1m = M)
        tstr="" #timeframestring
        ds=""   # date string
        for word in tf:
            if(word).isalpha():
                tstr=str(tstr)+str(word)
            if(word).isdigit():
                ds=str(ds)+str(word)
        tf=ds+(tstr).lower()
        print(tf) 
        
        if(tf not in ('1d', '5d', '1wk', '1mo', '3mo')):
            print("Invalid Time Frame")
            td=""
    
    
    if(int(diff)>60 and int(diff)<730):
        print("Valid intervals: [1h, 1d, 5d, 1wk, 1mo, 3mo]")
        tf=input("Enter time frame : ")
        ## To covert the string into lower ( ex. 1m = M)
        tstr="" #timeframestring
        dstr="" # date string
        for word in tf:
            if(word).isalpha():
                tstr=str(tstr)+str(word)
            if(word).isdigit():
                ds=str(ds)+str(word)
        tf=ds+(tstr).lower()
        print(tf) 
        if(tf not in ('1h', '1d', '5d', '1wk', '1mo', '3mo')):
            print("Invalid Time Frame")
            td=""
    
    if(int(diff)>7 and int(diff)<=60):
        print("Valid intervals: ['2m', '5m', '15m', '30m', '60m', '90m',1h, 1d, 5d, 1wk, 1mo, 3mo]")
        tf=input("Enter time frame : ")
       ## To covert the string into lower ( ex. 1m = M)
        tstr="" #timeframestring
        ds="" # date string
        for word in tf:
            if(word).isalpha():
                tstr=str(tstr)+str(word)
            if(word).isdigit():
                ds=str(ds)+str(word)
        tf=ds+(tstr).lower()
        print(tf) 
        if(tf not in ('2m', '5m', '15m', '30m', '60m', '90m','1h', '1d', '5d', '1wk', '1mo', '3mo')):
            print("Invalid Time Frame")
            tf=""
            
    if(int(diff)>0 and int(diff)<=7):
        print("Valid intervals: ['1m',2m', '5m', '15m', '30m', '60m', '90m',1h, 1d, 5d, 1wk, 1mo, 3mo]")
        tf=input("Enter time frame : ")
       ## To covert the string into lower ( ex. 1m = M)
        tstr="" #timeframestring
        ds=""  # date sring
        for word in tf:
            if(word).isalpha():
                tstr=str(tstr)+str(word)
            if(word).isdigit():
                ds=str(ds)+str(word)
        tf=ds+(tstr).lower()
        print(tf)   
        if(tf not in ('1m','2m', '5m', '15m', '30m', '60m', '90m','1h', '1d', '5d', '1wk', '1mo', '3mo')):
            print("Invalid Time Frame")
            tf=""

Valid intervals: [1h, 1d, 5d, 1wk, 1mo, 3mo]
Enter time frame : 1H
1h

In [49]:
try:
    df=yf.download(tickers=stock+'.NS',start=sdate,end=edate,interval=tf)
    if(len(df)==0):
        print("Invalid Date ( Or Holiday )")
except:
    print("Invalid Date ( Or Holiday )")
    
df.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
2021-01-01 09:15:00+05:30,274.750000,278.500000,274.500000,277.450012,277.450012,0
2021-01-01 10:15:00+05:30,277.399994,277.899994,276.799988,277.750000,277.750000,2167221
2021-01-01 11:15:00+05:30,277.750000,278.799988,277.500000,278.399994,278.399994,3578695
2021-01-01 12:15:00+05:30,278.399994,279.299988,278.100006,278.700012,278.700012,2655765
2021-01-01 13:15:00+05:30,278.649994,279.500000,277.899994,279.450012,279.450012,2569455

In [50]:
BM.getbullishmarobozu(df)

---------------Bullish Marubozu----------------
2021-01-20 13:15:00+05:30 303.79998779296875
2021-02-04 15:15:00+05:30 357.95001220703125
2021-02-12 12:15:00+05:30 397.54998779296875
2021-02-24 09:15:00+05:30 405.70001220703125
2021-03-15 14:15:00+05:30 384.1000061035156
2021-04-23 09:15:00+05:30 338.0
2021-05-17 09:15:00+05:30 371.3999938964844
2021-05-27 14:15:00+05:30 426.5
2021-06-21 12:15:00+05:30 413.6499938964844
2021-07-05 14:15:00+05:30 432.75
2021-08-04 13:15:00+05:30 465.3999938964844
2021-08-10 14:15:00+05:30 426.75
2021-08-31 14:15:00+05:30 426.79998779296875
2021-09-29 14:15:00+05:30 460.54998779296875
2021-10-11 13:15:00+05:30 468.8999938964844
2021-10-14 09:15:00+05:30 491.3999938964844
2021-10-27 12:15:00+05:30 526.2999877929688
2021-12-10 14:15:00+05:30 495.29998779296875
2021-12-24 13:15:00+05:30 458.5
---------------Bearish Marubozu----------------
2021-01-27 13:15:00+05:30 274.25
2021-02-05 12:15:00+05:30 393.6499938964844
2021-02-19 13:15:00+05:30 395.8999938964844
2021-02-24 11:15:00+05:30 395.6000061035156
2021-03-02 10:15:00+05:30 392.0
2021-03-09 12:15:00+05:30 386.20001220703125
2021-03-12 13:15:00+05:30 379.0
2021-03-18 12:15:00+05:30 369.0
2021-03-18 13:15:00+05:30 362.0
2021-03-24 14:15:00+05:30 359.20001220703125
2021-03-25 10:15:00+05:30 350.8999938964844
2021-04-15 10:15:00+05:30 336.6000061035156
2021-07-06 14:15:00+05:30 428.8500061035156
2021-07-27 12:15:00+05:30 427.54998779296875
2021-08-05 09:15:00+05:30 445.70001220703125
2021-09-20 13:15:00+05:30 440.8500061035156
2021-09-28 12:15:00+05:30 444.25
2021-10-27 13:15:00+05:30 520.5
2021-10-29 12:15:00+05:30 503.5
2021-11-03 14:15:00+05:30 525.7000122070312
2021-11-22 10:15:00+05:30 488.25
2021-12-06 14:15:00+05:30 464.29998779296875