In [1]:
from datetime import date
import datetime
from nsepy.history import get_price_list
import yfinance as yf
import pandas as pd

from SingleCandlesticks import BearishMarubozu as BrM

## Bearish Marubozu of one stock on paricular date

In [2]:
stock=input("Enter stock name : ")

Enter stock name : sbin

In [3]:

print("Enter date : ")
y=input("Enter Year :")
m=input("Enter Month :")
d=input("Enter Date :")

Enter date :
Enter Year :2021
Enter Month :1
Enter Date :1

In [4]:
sdate=date(int(y),int(m),int(d))
edate=sdate+datetime.timedelta(1)
print(sdate)
print(edate)

2021-01-01
2021-01-02

In [5]:
if(sdate>date.today()):
    diff=sdate-date.today()
    #print("sdate > ")
    diff=int(str(diff).split()[0])

if(date.today()>sdate):
    diff=date.today()-sdate
    #print("sdate <")
    diff=int(str(diff).split()[0])

if(date.today()==sdate):
    diff=int(0)
    #print("=")

    
print(str(diff).split()[0])

tstr=""
ds=""
if(int(diff)>730):
    print("Valid intervals: [1d, 5d, 1wk, 1mo, 3mo]")
    tf=input("Enter time frame : ")

    ## To covert the string into lower ( ex. 1m = M)
    tstr="" #timeframestring
    ds=""   # date string
    for word in tf:
        if(word).isalpha():
            tstr=str(tstr)+str(word)
        if(word).isdigit():
            ds=str(ds)+str(word)
    tf=ds+(tstr).lower()
    print(tf) 

    if(tf not in ('1d', '5d', '1wk', '1mo', '3mo')):
        print("Invalid Time Frame")
        td=""


if(int(diff)>60 and int(diff)<=730):
    print("Valid intervals: [1h, 1d, 5d, 1wk, 1mo, 3mo]")
    tf=input("Enter time frame : ")
    ## To covert the string into lower ( ex. 1m = M)
    tstr="" #timeframestring
    dstr="" # date string
    for word in tf:
        if(word).isalpha():
            tstr=str(tstr)+str(word)
        if(word).isdigit():
            ds=str(ds)+str(word)
    tf=ds+(tstr).lower()
    print(tf) 
    if(tf not in ('1h', '1d', '5d', '1wk', '1mo', '3mo')):
        print("Invalid Time Frame")
        td=""

if(int(diff)>7 and int(diff)<=60):
    print("Valid intervals: ['2m', '5m', '15m', '30m', '60m', '90m',1h, 1d, 5d, 1wk, 1mo, 3mo]")
    tf=input("Enter time frame : ")
   ## To covert the string into lower ( ex. 1m = M)
    tstr="" #timeframestring
    ds="" # date string
    for word in tf:
        if(word).isalpha():
            tstr=str(tstr)+str(word)
        if(word).isdigit():
            ds=str(ds)+str(word)
    tf=ds+(tstr).lower()
    print(tf) 
    if(tf not in ('2m', '5m', '15m', '30m', '60m', '90m','1h', '1d', '5d', '1wk', '1mo', '3mo')):
        print("Invalid Time Frame")
        tf=""

if(int(diff)>0 and int(diff)<=7):
    print("Valid intervals: ['1m',2m', '5m', '15m', '30m', '60m', '90m',1h, 1d, 5d, 1wk, 1mo, 3mo]")
    tf=input("Enter time frame : ")
   ## To covert the string into lower ( ex. 1m = M)
    tstr="" #timeframestring
    ds=""  # date sring
    for word in tf:
        if(word).isalpha():
            tstr=str(tstr)+str(word)
        if(word).isdigit():
            ds=str(ds)+str(word)
    tf=ds+(tstr).lower()
    print(tf)   
    if(tf not in ('1m','2m', '5m', '15m', '30m', '60m', '90m','1h', '1d', '5d', '1wk', '1mo', '3mo')):
        print("Invalid Time Frame")
        tf=""

364
Valid intervals: [1h, 1d, 5d, 1wk, 1mo, 3mo]
Enter time frame : 1d
1d

In [7]:
try:
    df=yf.download(tickers=stock+'.NS',start=sdate,end=edate,interval=tf)
    if(len(df)==0):
        print("Invalid Date ( Or Holiday )")
except:
    print("Invalid Date ( Or Holiday )")

[*********************100%***********************]  1 of 1 completed

In [8]:
df.head()

                  Open   High         Low       Close   Adj Close    Volume
Date
2021-01-01  274.899994  280.0  274.399994  279.399994  276.844025  24531791

In [10]:
BrM.getbearishmarobozu(df)

---------------Bearish Marubozu----------------

## Bearish Marubozu of one stock in range (from - to)

In [11]:
stock=input("Enter stock name : ")

Enter stock name : sbin

In [12]:
print("Enter start date : ")
y=input("Enter Year :")
m=input("Enter Month :")
d=input("Enter Date :")
sdate=date(int(y),int(m),int(d))
print(str(type(sdate))+" "+str(sdate))

Enter start date :
Enter Year :2020
Enter Month :1
Enter Date :1
<class 'datetime.date'> 2020-01-01

In [13]:
print("Enter end date : ")
y=input("Enter Year :")
m=input("Enter Month :")
d=input("Enter Date :")
edate=date(int(y),int(m),int(d))
print(str(type(edate))+" "+str(edate))

Enter end date :
Enter Year :2021
Enter Month :12
Enter Date :1
<class 'datetime.date'> 2021-12-01

In [14]:
diff=0;
if(date.today()>sdate):
    diff=date.today()-sdate
elif(sdate>date.today()):
    diff=sdate-date.today()
elif(sdate==date.today()):
    diff=0
print(diff)
diff=int(str(diff).split()[0])
print(diff)

730 days, 0:00:00
730

In [15]:
    tstr=""
    ds=""
    if(int(diff)>=730):
        print("Valid intervals: [1d, 5d, 1wk, 1mo, 3mo]")
        tf=input("Enter time frame : ")
                
        ## To covert the string into lower ( ex. 1m = M)
        tstr="" #timeframestring
        ds=""   # date string
        for word in tf:
            if(word).isalpha():
                tstr=str(tstr)+str(word)
            if(word).isdigit():
                ds=str(ds)+str(word)
        tf=ds+(tstr).lower()
        print(tf) 
        
        if(tf not in ('1d', '5d', '1wk', '1mo', '3mo')):
            print("Invalid Time Frame")
            td=""
    
    
    if(int(diff)>60 and int(diff)<730):
        print("Valid intervals: [1h, 1d, 5d, 1wk, 1mo, 3mo]")
        tf=input("Enter time frame : ")
        ## To covert the string into lower ( ex. 1m = M)
        tstr="" #timeframestring
        dstr="" # date string
        for word in tf:
            if(word).isalpha():
                tstr=str(tstr)+str(word)
            if(word).isdigit():
                ds=str(ds)+str(word)
        tf=ds+(tstr).lower()
        print(tf) 
        if(tf not in ('1h', '1d', '5d', '1wk', '1mo', '3mo')):
            print("Invalid Time Frame")
            td=""
    
    if(int(diff)>7 and int(diff)<=60):
        print("Valid intervals: ['2m', '5m', '15m', '30m', '60m', '90m',1h, 1d, 5d, 1wk, 1mo, 3mo]")
        tf=input("Enter time frame : ")
       ## To covert the string into lower ( ex. 1m = M)
        tstr="" #timeframestring
        ds="" # date string
        for word in tf:
            if(word).isalpha():
                tstr=str(tstr)+str(word)
            if(word).isdigit():
                ds=str(ds)+str(word)
        tf=ds+(tstr).lower()
        print(tf) 
        if(tf not in ('2m', '5m', '15m', '30m', '60m', '90m','1h', '1d', '5d', '1wk', '1mo', '3mo')):
            print("Invalid Time Frame")
            tf=""
            
    if(int(diff)>0 and int(diff)<=7):
        print("Valid intervals: ['1m',2m', '5m', '15m', '30m', '60m', '90m',1h, 1d, 5d, 1wk, 1mo, 3mo]")
        tf=input("Enter time frame : ")
       ## To covert the string into lower ( ex. 1m = M)
        tstr="" #timeframestring
        ds=""  # date sring
        for word in tf:
            if(word).isalpha():
                tstr=str(tstr)+str(word)
            if(word).isdigit():
                ds=str(ds)+str(word)
        tf=ds+(tstr).lower()
        print(tf)   
        if(tf not in ('1m','2m', '5m', '15m', '30m', '60m', '90m','1h', '1d', '5d', '1wk', '1mo', '3mo')):
            print("Invalid Time Frame")
            tf=""

Valid intervals: [1d, 5d, 1wk, 1mo, 3mo]
Enter time frame : 1d
1d

In [16]:
try:
    df=yf.download(tickers=stock+'.NS',start=sdate,end=edate,interval=tf)
    if(len(df)==0):
        print("Invalid Date ( Or Holiday )")
except:
    print("Invalid Date ( Or Holiday )")
    
df.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-01,334.700012,335.950012,332.149994,334.450012,331.390442,17379320
2020-01-02,334.500000,339.850006,333.350006,339.299988,336.196045,20324236
2020-01-03,337.950012,337.950012,332.000000,333.700012,330.647308,21853208
2020-01-06,331.700012,331.700012,317.700012,319.000000,316.081757,35645325
2020-01-07,324.450012,327.000000,315.399994,318.399994,315.487244,50966826

In [17]:
BrM.getbearishmarobozu(df)

---------------Bearish Marubozu----------------
2020-01-20 00:00:00 314.0
2020-02-12 00:00:00 320.20001220703125
2020-04-03 00:00:00 175.5
2020-05-18 00:00:00 155.3000030517578
2020-05-19 00:00:00 152.8000030517578
2020-06-08 00:00:00 186.8000030517578
2020-06-24 00:00:00 184.60000610351562
2020-08-31 00:00:00 212.0
2021-09-24 00:00:00 440.75