In [2]:
## Hammer ( Paper Umbrella ) One Stock On Particular Day And In Range ( From - To )


def gethammer(df):
    bh={}    # blue hammer 
    rh={}    # red hammer

    if('OPEN' in df.columns):

        for ind in df.index:
            if(df['OPEN'][ind] < df['CLOSE'][ind] ):
                bper=((float(df['CLOSE'][ind])-float(df['OPEN'][ind]))/float(df['CLOSE'][ind]))*100 # body percentage
                us=((float(df['HIGH'][ind])-float(df['CLOSE'][ind]))/float(df['CLOSE'][ind]))*100  # Upper Shadow
                ls=((float(df['OPEN'][ind])-float(df['LOW'][ind]))/float(df['CLOSE'][ind]))*100  # Lower Shadow
                if(bper>=0.7 and bper<=2.3 and us<=0.8 and ls>=bper*1.8):
                    #print(df['SYMBOL'][ind] +"="+str(per) +" Per = "+str(per)+" US = "+str(us)+" LS = "+str(ls))
                    bh[df['SYMBOL'][ind]]= bper

            elif(df['CLOSE'][ind] < df['OPEN'][ind] ):
                bper=((float(df['OPEN'][ind])-float(df['CLOSE'][ind]))/float(df['CLOSE'][ind]))*100 # body percentage
                us=((float(df['HIGH'][ind])-float(df['OPEN'][ind]))/float(df['CLOSE'][ind]))*100  # Upper Shadow
                ls=((float(df['CLOSE'][ind])-float(df['LOW'][ind]))/float(df['CLOSE'][ind]))*100  # Lower Shadow
                if(bper>=0.7 and bper<=2.3 and us<=0.8 and ls>=bper*1.8):
                     #print(df['SYMBOL'][ind] +"="+str(per) +" Per = "+str(per)+" US = "+str(us)+" LS = "+str(ls))
                    rh[df['SYMBOL'][ind]]= bper


            elif(df['CLOSE'][ind] == df['OPEN'][ind] ):
                bper=0
                #per=round(((float(df['OPEN'][ind])-float(df['CLOSE'][ind]))/float(df['CLOSE'][ind]))*100,4)
                #print(df['SYMBOL'][ind] +"="+str(per))
                #print("-------------------------------------------")
                pass



    elif('Open' in df.columns):

        for ind in df.index:
            if(df['Open'][ind] < df['Close'][ind] ):
                bper=((float(df['Close'][ind])-float(df['Open'][ind]))/float(df['Close'][ind]))*100 # body percentage
                us=((float(df['High'][ind])-float(df['Close'][ind]))/float(df['Close'][ind]))*100  # Upper Shadow
                ls=((float(df['Open'][ind])-float(df['Low'][ind]))/float(df['Close'][ind]))*100  # Lower Shadow
                if(bper>=0.7 and bper<=2.3 and us<=0.8 and ls>=bper*1.8):
                   #print(df['Symbol'][ind] +"="+str(per) +" Per = "+str(per)+" US = "+str(us)+" LS = "+str(ls))
                    #bd[df['Symbol'][ind]]= bper
                    bh[ind]=df['Close'][ind]

            elif(df['Close'][ind] < df['Open'][ind] ):
                bper=((float(df['Open'][ind])-float(df['Close'][ind]))/float(df['Close'][ind]))*100 # body percentage
                us=((float(df['High'][ind])-float(df['Open'][ind]))/float(df['Close'][ind]))*100  # Upper Shadow
                ls=((float(df['Close'][ind])-float(df['Low'][ind]))/float(df['Close'][ind]))*100  # Lower Shadow
                if(bper>=0.7 and bper<=2.3 and us<=0.8 and ls>=bper*1.8):
                    #print(df['Symbol'][ind] +"="+str(per) +" Per = "+str(per)+" US = "+str(us)+" LS = "+str(ls))
                    #rd[df['Symbol'][ind]]= bper
                    rh[ind]=df['Close'][ind]

            elif(df['Close'][ind] == df['Open'][ind] ):
                bper=0
                #per=round(((float(df['Open'][ind])-float(df['Close'][ind]))/float(df['Close'][ind]))*100,4)
                #print(df['Symbol'][ind] +"="+str(per))
                #print("-------------------------------------------")
                pass

    print("BLUE HAMMER")
    print(bh)
    print("-------------------------------------------")
    print("RED HAMMER")
    print(rh)
    print("-------------------------------------------")
    #print("Blue Hammer In Downtrend")
    #for i in bh:
    #    if(isdowntrend(i)):
    #        print(i)

    #print("-------------------------------------------")
    #print("Blue Hammer In Downtrend")
    #for i in rh:
    #    if(isdowntrend(i)):
    #        print(i)

In [3]:
from datetime import date
import datetime
from nsepy.history import get_price_list
import yfinance as yf
import pandas as pd

from SingleCandlesticks import Doji as dj

## Hammer ( Paper Umbrella ) Of One Stock On Particular Date

In [4]:
stock=input("Enter stock name : ")

Enter stock name : dcm

In [6]:
print("Enter date : ")
y=input("Enter Year :")
m=input("Enter Month :")
d=input("Enter Date :")

Enter date :
Enter Year :2022
Enter Month :1
Enter Date :4

In [7]:
sdate=date(int(y),int(m),int(d))
edate=sdate+datetime.timedelta(1)
print(sdate)
print(edate)

2022-01-04
2022-01-05

In [8]:
if(sdate>date.today()):
    diff=sdate-date.today()
    #print("sdate > ")
    diff=int(str(diff).split()[0])

if(date.today()>sdate):
    diff=date.today()-sdate
    #print("sdate <")
    diff=int(str(diff).split()[0])

if(date.today()==sdate):
    diff=int(0)
    #print("=")

    
print(str(diff).split()[0])

tstr=""
ds=""
if(int(diff)>730):
    print("Valid intervals: [1d, 5d, 1wk, 1mo, 3mo]")
    tf=input("Enter time frame : ")

    ## To covert the string into lower ( ex. 1m = M)
    tstr="" #timeframestring
    ds=""   # date string
    for word in tf:
        if(word).isalpha():
            tstr=str(tstr)+str(word)
        if(word).isdigit():
            ds=str(ds)+str(word)
    tf=ds+(tstr).lower()
    print(tf) 

    if(tf not in ('1d', '5d', '1wk', '1mo', '3mo')):
        print("Invalid Time Frame")
        td=""


if(int(diff)>60 and int(diff)<=730):
    print("Valid intervals: [1h, 1d, 5d, 1wk, 1mo, 3mo]")
    tf=input("Enter time frame : ")
    ## To covert the string into lower ( ex. 1m = M)
    tstr="" #timeframestring
    dstr="" # date string
    for word in tf:
        if(word).isalpha():
            tstr=str(tstr)+str(word)
        if(word).isdigit():
            ds=str(ds)+str(word)
    tf=ds+(tstr).lower()
    print(tf) 
    if(tf not in ('1h', '1d', '5d', '1wk', '1mo', '3mo')):
        print("Invalid Time Frame")
        td=""

if(int(diff)>7 and int(diff)<=60):
    print("Valid intervals: ['2m', '5m', '15m', '30m', '60m', '90m',1h, 1d, 5d, 1wk, 1mo, 3mo]")
    tf=input("Enter time frame : ")
   ## To covert the string into lower ( ex. 1m = M)
    tstr="" #timeframestring
    ds="" # date string
    for word in tf:
        if(word).isalpha():
            tstr=str(tstr)+str(word)
        if(word).isdigit():
            ds=str(ds)+str(word)
    tf=ds+(tstr).lower()
    print(tf) 
    if(tf not in ('2m', '5m', '15m', '30m', '60m', '90m','1h', '1d', '5d', '1wk', '1mo', '3mo')):
        print("Invalid Time Frame")
        tf=""

if(int(diff)>0 and int(diff)<=7):
    print("Valid intervals: ['1m',2m', '5m', '15m', '30m', '60m', '90m',1h, 1d, 5d, 1wk, 1mo, 3mo]")
    tf=input("Enter time frame : ")
   ## To covert the string into lower ( ex. 1m = M)
    tstr="" #timeframestring
    ds=""  # date sring
    for word in tf:
        if(word).isalpha():
            tstr=str(tstr)+str(word)
        if(word).isdigit():
            ds=str(ds)+str(word)
    tf=ds+(tstr).lower()
    print(tf)   
    if(tf not in ('1m','2m', '5m', '15m', '30m', '60m', '90m','1h', '1d', '5d', '1wk', '1mo', '3mo')):
        print("Invalid Time Frame")
        tf=""

1
Valid intervals: ['1m',2m', '5m', '15m', '30m', '60m', '90m',1h, 1d, 5d, 1wk, 1mo, 3mo]
Enter time frame : 1d
1d

In [9]:
try:
    df=yf.download(tickers=stock+'.NS',start=sdate,end=edate,interval=tf)
    if(len(df)==0):
        print("Invalid Date ( Or Holiday )")
except:
    print("Invalid Date ( Or Holiday )")

[*********************100%***********************]  1 of 1 completed

In [10]:
df.head()

                  Open        High     Low       Close   Adj Close  Volume
Date
2022-01-04  135.850006  137.899994  127.75  137.600006  137.600006   77301

In [11]:
gethammer(df)

BLUE HAMMER
{Timestamp('2022-01-04 00:00:00'): 137.60000610351562}
-------------------------------------------
RED HAMMER
{}
-------------------------------------------

## Hammer ( Paper Umbrell ) Of One Stock In Range ( From - To )

In [24]:
stock=input("Enter stock name : ")

Enter stock name : dcm

In [25]:
print("Enter start date : ")
y=input("Enter Year :")
m=input("Enter Month :")
d=input("Enter Date :")
sdate=date(int(y),int(m),int(d))
print(str(type(sdate))+" "+str(sdate))

Enter start date :
Enter Year :2021
Enter Month :6
Enter Date :12
<class 'datetime.date'> 2021-06-12

In [28]:
print("Enter end date : ")
y=input("Enter Year :")
m=input("Enter Month :")
d=input("Enter Date :")
edate=date(int(y),int(m),int(d))
print(str(type(edate))+" "+str(edate))

Enter end date :
Enter Year :2022
Enter Month :1
Enter Date :4
<class 'datetime.date'> 2022-01-04

In [29]:
diff=0;
if(date.today()>sdate):
    diff=date.today()-sdate
elif(sdate>date.today()):
    diff=sdate-date.today()
elif(sdate==date.today()):
    diff=0
print(diff)
diff=int(str(diff).split()[0])
print(diff)

207 days, 0:00:00
207

In [30]:
    tstr=""
    ds=""
    if(int(diff)>=730):
        print("Valid intervals: [1d, 5d, 1wk, 1mo, 3mo]")
        tf=input("Enter time frame : ")
                
        ## To covert the string into lower ( ex. 1m = M)
        tstr="" #timeframestring
        ds=""   # date string
        for word in tf:
            if(word).isalpha():
                tstr=str(tstr)+str(word)
            if(word).isdigit():
                ds=str(ds)+str(word)
        tf=ds+(tstr).lower()
        print(tf) 
        
        if(tf not in ('1d', '5d', '1wk', '1mo', '3mo')):
            print("Invalid Time Frame")
            td=""
    
    
    if(int(diff)>60 and int(diff)<730):
        print("Valid intervals: [1h, 1d, 5d, 1wk, 1mo, 3mo]")
        tf=input("Enter time frame : ")
        ## To covert the string into lower ( ex. 1m = M)
        tstr="" #timeframestring
        dstr="" # date string
        for word in tf:
            if(word).isalpha():
                tstr=str(tstr)+str(word)
            if(word).isdigit():
                ds=str(ds)+str(word)
        tf=ds+(tstr).lower()
        print(tf) 
        if(tf not in ('1h', '1d', '5d', '1wk', '1mo', '3mo')):
            print("Invalid Time Frame")
            td=""
    
    if(int(diff)>7 and int(diff)<=60):
        print("Valid intervals: ['2m', '5m', '15m', '30m', '60m', '90m',1h, 1d, 5d, 1wk, 1mo, 3mo]")
        tf=input("Enter time frame : ")
       ## To covert the string into lower ( ex. 1m = M)
        tstr="" #timeframestring
        ds="" # date string
        for word in tf:
            if(word).isalpha():
                tstr=str(tstr)+str(word)
            if(word).isdigit():
                ds=str(ds)+str(word)
        tf=ds+(tstr).lower()
        print(tf) 
        if(tf not in ('2m', '5m', '15m', '30m', '60m', '90m','1h', '1d', '5d', '1wk', '1mo', '3mo')):
            print("Invalid Time Frame")
            tf=""
            
    if(int(diff)>0 and int(diff)<=7):
        print("Valid intervals: ['1m',2m', '5m', '15m', '30m', '60m', '90m',1h, 1d, 5d, 1wk, 1mo, 3mo]")
        tf=input("Enter time frame : ")
       ## To covert the string into lower ( ex. 1m = M)
        tstr="" #timeframestring
        ds=""  # date sring
        for word in tf:
            if(word).isalpha():
                tstr=str(tstr)+str(word)
            if(word).isdigit():
                ds=str(ds)+str(word)
        tf=ds+(tstr).lower()
        print(tf)   
        if(tf not in ('1m','2m', '5m', '15m', '30m', '60m', '90m','1h', '1d', '5d', '1wk', '1mo', '3mo')):
            print("Invalid Time Frame")
            tf=""

Valid intervals: [1h, 1d, 5d, 1wk, 1mo, 3mo]
Enter time frame : 1d
1d

In [31]:
try:
    df=yf.download(tickers=stock+'.NS',start=sdate,end=edate,interval=tf)
    if(len(df)==0):
        print("Invalid Date ( Or Holiday )")
except:
    print("Invalid Date ( Or Holiday )")
    
df.head()

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close  Volume
Date
2021-06-14  42.500000  42.500000  39.000000  41.750000  41.750000   86438
2021-06-15  42.900002  42.900002  40.450001  41.950001  41.950001  106110
2021-06-16  41.950001  42.750000  40.250000  42.000000  42.000000  102394
2021-06-17  42.000000  42.000000  39.900002  41.150002  41.150002   26721
2021-06-18  41.950001  41.950001  39.099998  40.750000  40.750000   28474

In [32]:
gethammer(df)

BLUE HAMMER
{Timestamp('2021-06-23 00:00:00'): 41.79999923706055, Timestamp('2021-08-06 00:00:00'): 59.099998474121094, Timestamp('2021-10-21 00:00:00'): 57.599998474121094, Timestamp('2021-11-15 00:00:00'): 101.9000015258789, Timestamp('2021-11-25 00:00:00'): 110.4000015258789, Timestamp('2021-12-07 00:00:00'): 123.44999694824219}
-------------------------------------------
RED HAMMER
{Timestamp('2021-06-14 00:00:00'): 41.75, Timestamp('2021-06-21 00:00:00'): 41.04999923706055, Timestamp('2021-07-15 00:00:00'): 41.349998474121094, Timestamp('2021-11-10 00:00:00'): 94.5, Timestamp('2021-11-24 00:00:00'): 105.25, Timestamp('2021-12-06 00:00:00'): 117.5999984741211}
-------------------------------------------