In [1]:
# Task : Hammer (Paper Umbrella) after a downtrend

In [2]:
from datetime import date
import datetime
from nsepy.history import get_price_list
import yfinance as yf
import pandas as pd
from nsepy.history import get_history

## Hammer (Paper Umbrell) Bullish After A Downtrend

In [3]:

print(date.today())

dated=date.today()

dt=yf.download(tickers="reliance.ns",period="1d")
print(type(dt))
print(dt)

2022-01-03
[*********************100%***********************]  1 of 1 completed
<class 'pandas.core.frame.DataFrame'>
              Open         High          Low        Close    Adj Close  \
Date
2022-01-03  2365.0  2407.949951  2363.550049  2403.850098  2403.850098

             Volume
Date
2022-01-03  2501248

In [4]:
for i in dt.index:
    d=str(i)
d=d.split()
d=d[0]
d=str(d)
d=d.split('-')

In [5]:
d=date(int(d[0]),int(d[1]),int(d[2]))
print(d)

2022-01-03

In [9]:
print("Data on the date : "+str(d))

dated=d
df=pd.DataFrame()
#print(dated)
while(len(df)<=0):
    try:
        df=get_price_list(dated)
    except:
        print("e")
        dated=dated-datetime.timedelta(1)
print("Data on Date : "+str(dated))

Data on the date : 2022-01-03
e
e
e
Data on Date : 2021-12-31

In [10]:
df.head()

,SYMBOL,SERIES,OPEN,HIGH,LOW,CLOSE,LAST,PREVCLOSE,TOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES,ISIN
0,20MICRONS,EQ,64.0,66.60,63.00,63.45,63.90,62.35,1597660,1.038646e+08,31-DEC-2021,11589,INE144J01027
1,21STCENMGM,EQ,44.1,45.90,44.10,45.90,45.90,45.00,17329,7.903413e+05,31-DEC-2021,213,INE253B01015
2,3IINFOLTD,EQ,92.0,95.85,91.30,94.65,94.45,91.30,3513963,3.317913e+08,31-DEC-2021,15942,INE748C01038
3,3MINDIA,EQ,24989.0,25680.00,24155.65,25360.80,25150.00,25047.00,6627,1.642765e+08,31-DEC-2021,5306,INE470A01017
4,3PLAND,EQ,15.4,15.80,14.85,15.65,15.65,14.65,80276,1.241928e+06,31-DEC-2021,386,INE105C01023

In [75]:
#if('OPEN' in df.columns):
#    for i in df.index:
#        print(df['SYMBOL'][i])
#        df1=get_history(df['SYMBOL'][i],date.today()-datetime.timedelta(10),date.today())

In [17]:
len(df1)

6

In [107]:
flag=0
edate=date.today()
df1=pd.DataFrame()
while(len(df1)<15):
    flag=flag+1
    sdate=date.today()-datetime.timedelta(flag)
    df1=get_history('SBIN',sdate,edate)

In [108]:
len(df1)

15

In [109]:
df1

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2021-12-14,SBIN,EQ,487.80,486.00,490.35,481.80,488.25,488.55,486.65,11642447,5.665850e+14,152297,3010173,0.2586
2021-12-15,SBIN,EQ,488.55,490.00,491.00,483.50,484.35,484.80,487.35,8639835,4.210628e+14,127451,2759744,0.3194
2021-12-16,SBIN,EQ,484.80,488.35,490.55,478.25,482.00,481.15,482.82,11107781,5.363031e+14,138481,3605289,0.3246
2021-12-17,SBIN,EQ,481.15,480.05,481.40,466.50,468.30,467.80,471.10,12648603,5.958795e+14,182619,4161837,0.3290
2021-12-20,SBIN,EQ,467.80,459.00,464.00,443.00,450.90,449.20,449.66,22336114,1.004365e+15,401072,9198460,0.4118
2021-12-21,SBIN,EQ,449.20,457.05,458.25,444.50,447.30,446.00,452.06,16617447,7.512090e+14,276029,6591707,0.3967
2021-12-22,SBIN,EQ,446.00,450.00,457.30,449.00,456.15,455.85,453.67,13102553,5.944255e+14,170711,4026674,0.3073
2021-12-23,SBIN,EQ,455.85,461.00,465.00,457.75,460.70,461.80,461.46,14471377,6.678005e+14,196406,5413589,0.3741
2021-12-24,SBIN,EQ,461.80,462.60,463.60,452.20,457.25,456.95,456.35,13221159,6.033444e+14,139530,3808688,0.2881
2021-12-27,SBIN,EQ,456.95,453.70,460.50,450.55,459.40,458.05,456.62,8856482,4.044023e+14,133445,1179518,0.1332
2021-12-28,SBIN,EQ,458.05,461.20,462.90,459.05,460.55,461.20,461.10,8832210,4.072492e+14,111561,2870018,0.3249
2021-12-29,SBIN,EQ,461.20,461.00,462.15,451.40,453.20,454.40,457.66,11757303,5.380869e+14,148597,4989343,0.4244
2021-12-30,SBIN,EQ,454.40,452.75,454.90,448.50,453.05,451.70,451.71,28879190,1.304510e+15,198099,14825094,0.5133
2021-12-31,SBIN,EQ,451.70,454.25,461.40,453.10,460.20,460.45,459.07,10005842,4.593372e+14,128788,3150588,0.3149
2022-01-03,SBIN,EQ,460.45,462.00,472.00,460.10,471.50,470.80,467.17,13124509,6.131388e+14,168001,4183151,0.3187

In [110]:
def calper(pv,c):   # calculate percentage  (prev close,close)
    return ( ((pv-c)/pv)*100  )


#df1=df1.iloc[::-1]   # reverse the dataframe
#df1=df1.iloc[::-1]   # reverse the dataframe

In [111]:
flag=1
for i in df1.index:
    #print(str(i) +" = "+str(round(calper(df1['Prev Close'][i],df1['Close'][i]),4)))

    print(flag)
    b=df1['Close'][i]
    if(flag==1):
        a=df1['Prev Close'][i]
        flag=0
    
    print(a)
    print(b)
    print(flag)
    
    if(calper(a,b)>4):
        if(a>b):
            print("Negative")
        else:
            print("Positive")
        print(i)
        print(calper(a,b))
        break
    print("--------")

1
487.8
488.55
0
--------
0
487.8
484.8
0
--------
0
487.8
481.15
0
--------
0
487.8
467.8
0
Negative
2021-12-17
4.100041000410004

In [38]:
ind=[]
for i in df1.index:
    ind.append(i)

In [45]:
for i in ind:
    print(df1['Open'][i])

459.0
457.05
450.0
461.0
462.6
453.7
461.2
461.0
452.75
454.25

In [7]:
import matplotlib.pyplot as plt

#df1=df1.iloc[::-1]  # reverse the dataframe
dated=""
for i in df1.index:
    print(i)
    print(str(i).split('-')[2])
    dated=str(dated)+str(str(i).split('-')[1])+"-"
    dated=str(dated)+str(str(i).split('-')[2])
    print(dated)
    dated=""

x=[]
y=[]
dated=""
for i in df1.index:
    dated=str(dated)+str(str(i).split('-')[1])+"-"
    dated=str(dated)+str(str(i).split('-')[2])
    year=str(i).split('-')[0]
    x.append(dated)
    y.append(df1['Close'][i])
    dated=""
plt.title(year)
plt.plot(x,y)

NameError: name 'df1' is not defined